* {
  margin: 0;
  padding: 0;
}

body, html {

}

body {
  background: #d4d2ab;
  font-family: 'Inter', sans-serif;
  /* font-weight: bold; */
  font-size: 20pt;
}

.pageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 100px;
}

.mainContainer {
  grid-column: 1;
}



.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  margin-left: 200px;
  font-weight: bold;
}

#detail {
  grid-column: 1;
  margin-left:30px;
}

#start {
  transform: translate(540px, 905px);
  margin-left: -800px;
}

#end {
  transform: translate(-650px, 905px);
  margin-left: 500px;
}

.commands {
  transform: translate(900px, 100px);
  color: #d4d2ab;
  margin-left: -600px;
}


.mainContainer {
  margin-top: -690px;
  margin-left: 60px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.mainGrid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);

  background-color: #6e6e6e;

  grid-column-gap: 50px;
  grid-row-gap: 50px;

  border: solid 50px #6e6e6e;

  color: #6ed14f;
}

.rectangle {
  background-color: #6ed14f;
}



.grid1x1 {
  grid-column: 1;
  grid-row: 1;
}

.grid1x2 {
  grid-column: 2;
  grid-row: 1;
}

.grid1x3 {
  grid-column: 3;
  grid-row: 1;
}

.grid2x1 {
  grid-column: 1;
  grid-row: 2;
}

.grid2x2 {
  grid-column: 2;
  grid-row: 2;
}

.grid2x3 {
  grid-column: 3;
  grid-row: 2;
}

.grid3x1 {
  grid-column: 1;
  grid-row: 3;
}

.grid3x2 {
  grid-column: 2;
  grid-row: 3;
}

.grid3x3 {
  grid-column: 3;
  grid-row: 3;
}


#detail {
  width: 45px;
  z-index: 99;

  /* animation: detailmovement 5s 1; */


  transform: translate(575px, 850px);

  animation: up 32s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;

}



@keyframes up {
  10% {
    transform: translate(575px, 650px);
  }
  20% {
    transform: translate(825px, 650px);
  }

  30% {
    transform: translate(825px, 400px);
  }

  40% {
    transform: translate(575px, 400px);
  }

  50% {
    transform: translate(575px, 150px);
  }

  60% {
    transform: translate(330px, 150px);
  }

  70% {
    transform: translate(330px, 400px);
  }

  75% {
    transform: translate(75px, 400px);
  }

  80% {
    transform: translate(75px, 650px);
  }

  90% {
    transform: translate(320px, 650px);
  }

  100% {
    transform: translate(320px, 890px);
  }
}
